<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    
    <%- include('../partials/header', {pagina:'sobre'}); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Oi sou Mateus Lopes estudande de ADS focado em Front-End</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>

</html>